<li>
  <a class="app-menu__item active" id="assessment-home-tab" data-toggle="pill" href="#assessment-home" role="tab" aria-controls="lesson-plan-home" aria-selected="true">
    <%= fa_icon("check-square fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Assessment Home
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="assessment-results-tab" data-toggle="pill" href="#assessment-results" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("chart-bar fw", class: "app-menu__icon mr-2", type: "regular") %>
    <span class="app-menu__label">
      Results&nbsp;<span id="sizeResults2" class="badge badge-info"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="assessment-teachers-guide-tab" data-toggle="pill" href="#assessment-teachers-guide" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("map-signs fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Teacher's Guide
    </span>
  </a>
</li>
