var el = $('.new_assessment');

<% if @assessment.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @assessment.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$('#list-assessments').append('<%= j render @assessment %>');
$("#assessment-<%= @assessment.id %>").hide().fadeIn(1000);
$('#assessment-dialog').modal('hide');
$('.no-assessments-to-list').detach();

// Clear form
el.find('input:text,text_area,number,select').val('');
el.find("#assessment_value").val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
