<div class="container">
  <div class="row">
    <div class="col-md-7 ml-auto">
      <h1>Editing Assessment</h1>
      <%= render 'edit_form', assessment: @assessment %>
    </div>
    <div class="col-auto mr-auto">

    </div>
  </div>
</div>
