<li>
  <a class="app-menu__item active" id="edit-form-tab" data-toggle="pill" href="#edit-form" role="tab" aria-controls="membership-home" aria-selected="true">
    <%= fa_icon("pencil-alt", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Edit Membership
    </span>
  </a>
</li>

<li>
  <a class="app-menu__item" id="edit-form-guide-tab" data-toggle="pill" href="#edit-form-guide" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("map-signs", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Teacher's Guide
    </span>
  </a>
</li>
