<li>
  <a class="app-menu__item active" id="membership-home-tab" data-toggle="pill" href="#membership-home" role="tab" aria-controls="membership-home" aria-selected="true">
    <%= fa_icon("id-card", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Registration Card
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="membership-user-registrations-tab" data-toggle="pill" href="#membership-user-registrations" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("graduation-cap", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Other Registrations
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="membership-teachers-guide-tab" data-toggle="pill" href="#membership-teachers-guide" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("map-signs", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Teacher's Guide
    </span>
  </a>
</li>
