<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("map-signs", text: "Teacher's Guide") %></h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-12 col-xl-10 offset-xl-1">
      <h1 class="h3">What is possible?</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2">
    <h2>Test</h2>
  </div>
</div>
