<div class="mt-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to  school_memberships_path(@membership.school) do %>
          <%= fa_icon "arrow-left", text: "Membership Administration" %>
        <% end %>
      </li>
      <li class="breadcrumb-item"><a href="#">Membership Registration Card</a></li>
      <li class="breadcrumb-item active" aria-current="page">Teacher's Guide</li>
    </ol>
  </nav>
</div>
<div class="jumbotron">
  <div class="row">
    <div class="col-12 col-xl-10 offset-xl-1">

      <h1 class="h3">What is possible?</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2">
    <h2>Test</h2>
  </div>
</div>
