<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Editing School Membership</h1>

      <%= render 'form', membership: @membership %>


      <%= link_to 'Back to my page', current_user, class: "btn btn-outline-primary" %>

      <%= link_to 'Back', @membership, class: "btn btn-primary" %>
    </div>
  </div>
</div>
