<div class="container">
  <div class="row d-flex justify-content-md-center">
      <div class="col-md-8">
      <h1>Editing User Registration</h1>

      <%= render 'form', membership: @membership %>
    </div>


</div>
