var el = $('.edit_part');

<% if @part.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @part.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$('#list-parts').append('<%= j render @part %>');
$("#part-<%= @part.id %>").hide().fadeIn(1000);
$('#part-dialog').modal("hide");
$('#totalValue').text(getTotal());
$('.totalValue').text(getTotal());

// Clear form
el.find('input:text,text_area').val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
