<% content_for :title do %>fp Edit Pay Agreement<% end %>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <li>
      <a class="app-menu__item active" id="pay-agreement-tab" data-toggle="pill" href="#" role="tab" aria-controls="pay-agreement" aria-selected="true">
        <%= fa_icon("file-alt", class: "app-menu__icon mr-2", type: "regular") %>
        <span class="app-menu__label">
          Edit Fee Pay Agreement
        </span>
      </a>
    </li>
  </ul>
</aside>
<div class="row">
  <div class="col-md-10 offset-xl-1">
    <h1>Editing Pay Agreement</h1>
    <%= render 'edit_form', pay_agreement: @pay_agreement %>
  </div>
</div>
