<% content_for :title do %>fp Edit Pay Agreement<% end %>
<div class="row">
  <div class="col-lg-5 offset-lg-3 mt-2">
    <h1>Editing Pay Agreement</h1>
    <%= render 'edit_form', pay_agreement: @pay_agreement %>
  </div>
</div>
