<li>
  <a class="app-menu__item active" id="lesson-plan-home-tab" data-toggle="pill" href="#lesson-plan-home" role="tab" aria-controls="lesson-plan-home" aria-selected="true">
    <%= fa_icon("book-open fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Lesson Plan Home
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="lesson-plan-assessments-tab" data-toggle="pill" href="#lesson-plan-assessments" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("check fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Assessments&nbsp;<span class="badge badge-info" id="sizeAssessments2"></span>
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="lesson-plan-teachers-guide-tab" data-toggle="pill" href="#lesson-plan-teachers-guide" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("map-signs fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Teacher's Guide
    </span>
  </a>
</li>
