<!-- Edit Lesson Plan -->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <li>
      <a class="app-menu__item active" id="edit-lesson-plan-tab" data-toggle="pill" href="#" role="tab" aria-controls="class-home" aria-selected="true">
        <%= fa_icon("graduation-cap fw", class: "app-menu__icon mr-2") %>
        <span class="app-menu__label">
        Editing Lesson Plan
        </span>
      </a>
    </li>
  </ul>
</aside>
<div class="row mt-3">
  <div class="col-xl-8">
    <h1>Editing Lesson Plan </h1>
    <h2><%= @lesson_plan.registration_klass.course_name %></h2>

    <%= render 'edit_form', lesson_plan: @lesson_plan %>
  </div>
</div>
