<div class="modal fade" id="privacyModal", tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="privacyModalLabel">
          Other Information we collect about your Organisation and Project Proposal
        </h4>
      </div>
      <div class="modal-body">
        <p><%= render 'users/privacy_statement' %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Read and Understood.</button>
      </div>
    </div>
  </div>
</div>
