var el = $('.new_comment');

<% if @comment.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @comment.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$('#list-comments').prepend('<%= j render @comment %>');
$("#comment-<%= @comment.id %>").hide().fadeIn(1000);
$("#list-comments").sizeComments();
$(".no-comments-to-list").detach();
$("#comment_comment").val('');

$("#comment_comment").focus();

// Clear form
el.find('input:text,text_area').val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
