<%= render "carousel" %>

<div class="container-fluid py-2">
  <div class="text-center">
    <h1>
      Take a few minutes to see the real power of freeperiod in your hands
    </h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="holder.js/100px180?text=Video" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">I'm an Administrator</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="holder.js/100px180?text=Video" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">I'm a Learner</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="holder.js/100px180?text=Video" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">I'm an Educator</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="holder.js/100px180?text=Video" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">I'm a Parent</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron-fluid mt-2 bg-info py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h1>freeperiod is simple but powerfull!</h1>
      <p class="lead">
        No other tool exists that is as powerful, customizable and full-featured as freeperiod,
        while still being attainable for schools on a tight budget. freeperiod saves your school, faculty, parents and students time by consolidating critical processes into one cloud-based platform.
      </p>
    </div>
  </div>
</div>
<div class="jumbotron-fluid bg-secondary py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h1>Educators Love freeperiod Because...</h1>
      <p>
      Increased efficiency

      freeperiod contains numerous tools and resources to not only streamline your job and make it easier, but also that help you be a better educator.
      Engaged Students

      Empower your students to succeed, giving them an always-on, cloud-based tool to track assignments, grades, teacher notes and more.
      More Free Time

      With information logged digitally, retrieval is easy as a few clicks. This is also true for your students’ parents, reducing your time spent on the phone.
      </p>
      <button type="button" class="btn btn-primary">
        View Teacher Benefits
      </button>
    </div>
  </div>
</div>
<div class="jumbotron-fluid bg-primary py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h1>Parents Love freeperiod Because...</h1>
      <p>
      Save time

      Many tasks and responsibilities that would require you to call a teacher or visit your child’s school can be efficiently managed via freeperiod.
      Be in the know

      freeperiod gives you an always-on resource for tracking your student’s upcoming assignments, past grades, school events and much more.
      Stay Engaged

      Receive alerts when your child receives a low grade or misses class, track conduct issues, view progress reports, teacher notes and more.
      </p>
      <button type="button" class="btn btn-primary">
        View Parent Benefits
      </button>
    </div>
  </div>
</div>
<div class="jumbotron-fluid bg-dark py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h1>Learners will Love freeperiod Because...</h1>
      <p>
      Save time

      Many tasks and responsibilities that would require you to call a teacher or visit your child’s school can be efficiently managed via freeperiod.
      Be in the know

      freeperiod gives you an always-on resource for tracking your student’s upcoming assignments, past grades, school events and much more.
      Stay Engaged

      Receive alerts when your child receives a low grade or misses class, track conduct issues, view progress reports, teacher notes and more.
      </p>
      <button type="button" class="btn btn-primary">
        View Learner Benefits
      </button>
    </div>
  </div>
</div>
<div class="jumbotron-fluid bg-danger py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h4>
        Administrators Love freeperiod Because...
        Better Communication
        </h4>
        <p>
          Administrators have a direct line of communication with teachers and parents 24 hours a day – even in emergency lockdown situations.
          Greater efficiency

          The collection and retrieval of critical information is quick and easy for teachers, parents and students, increasing efficiency across the board.
          Better management

          Gain control over all aspects of your school through a cloud-based software solution. Reports can be generated instantly, keeping you in the know.
          </p>
          <button type="button" class="btn btn-primary">
            View Admin Benefits
          </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h3 class="text-center">freeperiod Includes x Modules that Cover Most Aspects of Your School</h3>
  <div class="row">
    <!-- grade book -->
    <div class="col-sm-4 mb-2">
      <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title">
            Grade Book
          </h5>
          <p class="card-text">
            Enter grades, flag missing assignments, track student comments and
            enter sub-skill grades for each course.
          </p>
        </div>
      </div>
    </div>
    <!-- Progress Reports -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Progress Reports
        </h5>
        <p class="card-text">
        The Progress Report module in the Teacher’s Grade Book allows teachers
        to print Progress Reports at any time.
      </div>
    </div>
    </div>
    <!-- report cards  -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Report Cards
        </h5>
        <p class="card-text">
          We take your existing custom report card and electronically convert
          it into the digital report card module.
        </p>
      </div>
    </div>
    </div>
    <!-- Parent Alert SMS Text -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Parent Alert SMS Text
        </h5>
        <p class="card-text">
          In an emergency or lockdown, instantly communicate with your student’s
          parents via text message.
        </p>
      </div>
    </div>
    </div>
    <!-- Prospects -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Prospects
        </h5>
        <p class="card-text">
          The Prospects module provides you state-of-the-art technology to help
          your school meet its marketing goals.
        </p>
      </div>
    </div>
    </div>
    <!-- Bulletin -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Bulletin
        </h5>
        <p class="card-text">
          Post information by specific grades or classrooms and filter the
          viewing availability by date range.
        </p>
      </div>
    </div>
    </div>
    <!-- Calendar -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Card title
        </h5>
        <p class="card-text">
          Our customized calendar allows Teachers to post assignments that can be viewed in the Parent Web Portal.
        </p>
      </div>
    </div>
    </div>
    <!-- Reports -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Reports
        </h5>
        <p class="card-text">
          A dynamic Reporting module provides schools a point and click ad hoc
          report generator.
        </p>
      </div>
    </div>
    </div>
    <!-- Activities -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Activities
        </h5>
        <p class="card-text">
          Allow your school administrators, teachers and coaches to manage
          activities more efficiently and keep parents informed.
        </p>
      </div>
    </div>
    </div>
    <!-- Master Schedule -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Master Schedule
        </h5>
        <p class="card-text">
          Flexible enough to accommodate each individual school’s unique
          scheduling processes and business rules.
        </p>
      </div>
    </div>
    </div>
    <!-- Attendance -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Attendance
        </h5>
        <p class="card-text">
          With our web-based Attendance Module, your
          school no longer has to keep track of hand-written attendance slips.
        </p>
      </div>
    </div>
    </div>
    <!-- Alumni -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Alumni
        </h5>
        <p class="card-text">
          Provide your school access to historical alumni data, easily
          identify previous donors, and more.
        </p>
      </div>
    </div>
    </div>
    <!-- Electronic Cumulative Folder -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Electronic Cumulative Folder
        </h5>
        <p class="card-text">
          Allows for an unlimited number of user-defined fields to track any
          information for students, parents or teachers.
        </p>
      </div>
    </div>
    </div>
    <!-- Admissions -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Admissions
        </h5>
        <p class="card-text">
          Easily track every student and their current status in your
          customized admissions process.
        </p>
      </div>
    </div>
    </div>
    <!-- Conduct -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
      <div class="card-body">
        <h5 class="card-title">
          Conduct
        </h5>
        <p class="card-text">
          Track and manage students conduct – whether positive or negative
          – and ensure all parties are informed.
        </p>
      </div>
    </div>
    </div>
    <!-- Donors -->
    <div class="col-sm-4 mb-2">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">
            Donors
          </h5>
          <p class="card-text">
            This database integration provides your school access to current
            parents, historical parents and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron-fluid mt-2 py-5">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h2>Learn More About freeperiod’s Modules</h2>

      <p>With 20 powerful modules built into the freeperiod system, there is a lot to discover. Dive in and learn more about the power of each module.</p>

      <button type="button" class="btn btn-primary">
        View All Modules
      </button>
      <button type="button" class="btn btn-primary">
        View the Benefits of Using freeperiod
      </button>
    </div>
  </div>
</div>


  <div class="jumbotron-fluid bg-warning py-5">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <h5 class="card-title">School administrators, teachers, parents and students all benefit from freeperiod.</h5>

        <h4>Find out how the platform benefits each group.</h4>
        <button type="button" class="btn btn-primary">
          Admins
        </button>

        <button type="button" class="btn btn-primary">
          Teachers
        </button>
        <button type="button" class="btn btn-primary">
          Parents
        </button>
      </div>
    </div>
  </div>
