<div class="container marketing py-2">
  <div class="jumbotron">
    <div align="center">
      <h1>freeperiod</h1>
      <h2>Welcome</h2>
      <p class="lead"><em>development version 0.1 alpha</em></p>
    </div>
  </div>
</div>
