<h4> Privacy Policy and Legal Notice</h4>
<p> Please visit our <%= link_to "Legal Notice", page_path('legal_notice')  %> and <%= link_to "Privacy Policy", page_path('privacy_policy') %> pages for more detailed information.</p>
<h5> Information you provide us directly: </h5>
