<div class="col-md-4 registration-klass-placeholder">
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">Class type i.e. registration or subject </div>
    <div class="card-body">
      <h4 class="card-title">Example Subject or Registration Class Name</h4>
      <h5 class="card-subtitle">Example Course name</h5>
      <p class="card-text">Year e.g. 2018</p>
      <button type="button" name="button" class="btn btn-primary btn-block">
        <%= fa_icon("angle-double-right", text: "Show") %>
      </button>
    </div>
  </div>
</div>
