var el = $('.new_registration');

<% if @registration.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @registration.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$('#list-registrations').prepend('<%= j render @registration %>');
$("#registration-<%= @registration.id %>").hide().fadeIn(1000);
$('.nothing_to_list').detach();

// Clear form
el.find('input:text,text_area').val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
