<h4 class="text" id="comments">
  <%= fa_icon "comments", text: "Comments" %>&nbsp;<span class="badge badge-info" id="sizeComments1"></span>
</h4>
  <% if @result.comments.any? %>
  <ul id="list-comments" class="list-group">
    <%= render "comments/comments", commentable: @result %>
  </ul>
  <% else %>
  <ul class="list-group no-comments-to-list">
    <li class="list-group-item list-group-item-info">
      Nobody has commented yet.
    </li>
  </ul>
  <% end %>
<hr>
<div class="my-3"><%= render "comments/form", commentable: @result %></div>
