<div class="col-md-4">
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">Example Individual Assessment Result</div>
    <div class="card-body">
      <h5 class="card-title">Archie Smuts</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer">
      <%= link_to "#", remote: true,
        class: "btn btn-sm btn-primary btn-block" do %>
        <%= fa_icon("pencil-square", text: "Edit") %>
      <% end %>
    </div>
  </div>
</div>
