<li>
  <a class="app-menu__item active" id="result-home-tab" data-toggle="pill" href="#result-home" role="tab" aria-controls="lesson-plan-home" aria-selected="true">
    <%= fa_icon("equals fw", class: "app-menu__icon mr-2") %>
    <span class="app-menu__label">
      Assessment Result
    </span>
  </a>
</li>
<li>
  <a class="app-menu__item" id="result-comments-tab" data-toggle="pill" href="#result-comments" role="tab" aria-controls="" aria-selected="false">
    <%= fa_icon("comments fw", class: "app-menu__icon mr-2", type: "regular") %>
    <span class="app-menu__label">
      Comments&nbsp;<span id="sizeComments1" class="badge badge-info"></span>
    </span>
  </a>
</li>
