<!-- result show page -->
<% content_for :title do %>fp Assessment Result<% end %>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <%= render "sidebar_links" %>
  </ul>
</aside>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade show active" id="result-home" role="tabpanel">
    <%= render "tab_content_home" %>
  </div>

  <div class="tab-pane fade" id="result-comments" role="tabpanel">
    <%= render "tab_content_comments" %>
  </div>

</div>
<!-- .tab-content -->
