var el = $('.new_event');

<% if @event.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @event.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$('#event-placeholder').detach();
$('#list-events').append('<%= j render @event %>');
$("#<%= dom_id(@event)%>").hide().fadeIn(1000);
$('#event-dialog').modal("hide");
$('#list-events').sizeNewEvents()
$('#list-events').sizeOldEvents()

// Clear form
el.find('input:text,text_area').val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
