<% content_for :title do %>fp Add an Event <% end %>

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <li>
      <a class="app-menu__item active" id="edit-goal-tab" data-toggle="pill" href="#" role="tab" aria-controls="edit-goal" aria-selected="true">
        <%= fa_icon("fw fort-awesome", class: "app-menu__icon mr-2", type: "brand") %>
        <span class="app-menu__label">
          Add an Event
        </span>
      </a>
    </li>
  </ul>
</aside>
<div class="row">
  <div class="col-md-8 offset-md-1">
    <h1>New Event</h1>
    <%= render 'new_form', event: @event %>
  </div>
</div>
<!-- <script type="text/javascript">
    $(function () {
        $('#event_start_time').datetimepicker();
        $('#event_end_time').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#event_start_time").on("dp.change", function (e) {
            $('#event_end_time').data("DateTimePicker").minDate(e.date);
        });
        $("#event_end_time").on("dp.change", function (e) {
            $('#event_start_time').data("DateTimePicker").maxDate(e.date);
        });
    });
</script> -->
