  <h5 class="card-subtitle py-2">
    Assigning roles to individuals.
  </h5>
    <p class="card-text text-primary">
      The primary role of a person will determine her/his access privileges.
  </p>
  <p class="card-text text-primary">
    Thus, educators will have access to their assigned classes only and learners
    will only have access to their own subject registration details.
  </p>
  <p class="card-text text-primary">
    You can edit multiple records at once. Use the check boxes to select the records
    you wan to edit. Scroll down to the bottom and click on "Edit selected records" button.
  </p>
