<div class="alert alert-info">
    <h5 class="card-subtitle py-2">
    Assigning roles to individuals.
  </h5>
    <p class="card-text">
      The primary role of a person will determine her/his <strong>access privileges</strong>.
  </p>
  <p class="card-text">
    Thus, educators will have access to their assigned classes only and learners
    will only have access to their own subject registration details.
  </p>
  <p class="card-text">
    <strong>You can edit multiple records at once</strong>. Use the check boxes to select the records
    you want to edit. Scroll down to the bottom and click on the <em>"Edit selected records"</em> button.
  </p>
</div>
