<div class="alert alert-success">
  <h4 class="alert-heading">
    This list includes all the people that were invited and confirmed. It should
    comprise of all Educators, Learners, Parents/Guardians and Other (e.g. SGB members) people that will have
    some sort of role in the school.
  </h4>
  <hr>
  <h5 class="alert-heading">
    Assigning roles to individuals.
  </h5>
  <p>
      The primary role of a person will determine her/his <strong>access privileges</strong>.
  </p>
  <hr>
  <p>
    Thus, educators will have access to their assigned classes only and learners
    will only have access to their own subject registration details.
  </p>
  <hr>
  <p>
    <strong>You can edit multiple records at once</strong>. Use the check boxes to select the records
    you want to edit. Scroll down to the bottom and click on the <em>"Edit selected records"</em> button.
  </p>
</div>
