<div class="form-group">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="registration" value="Registration Class" checked>
    <label class="form-check-label" for="registration">Registration Class</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="subject" value="Subject Class">
    <label class="form-check-label" for="subject">Subject Class</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="faculty" value="Faculty">
    <label class="form-check-label" for="faculty">Faculty</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="admin" value="Admin">
    <label class="form-check-label" for="admin">Admin Team</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="sport" value="Sport Team">
    <label class="form-check-label" for="sport">Sport Team</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="other" value="Other Team">
    <label class="form-check-label" for="other">Other Team</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="sgb" value="SGB">
    <label class="form-check-label" for="sgb">SGB</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="group-type" id="pta" value="PTA">
    <label class="form-check-label" for="sgb">PTA</label>
  </div>
</div>
