<div class="card border-primary my-3">
  <h4 class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <%= fa_icon "file-text-o" %>&nbsp;Lesson Plans
      </div>
      <div>
        <%= link_to new_registration_klass_lesson_plan_path(@registration_klass), remote: true, class: "btn btn-success btn-sm" do %>
          <%= fa_icon "plus-square" %>&nbsp;Add a Lesson plan
        <% end %>
      </div>
    </div>
    <!-- TODO redesign to view people in cards with their head pics and key demographic details -->
  </h4>
  <ul id="list-lesson-plans" class="list-group">
    <% if @registration_klass.lesson_plans.any? %>
      <%= render @registration_klass.lesson_plans %>
    <% else %>
      <li class="list-group-item list-group-item-action list-group-item-info no-lesson-plans-to-list">
        No lesson plans to list
      </li>
    <% end %>
  </ul>
</div>
