<div class="alert alert-info list-group-item" id="no-people-to-list" role="alert">
  <strong>Oh what do you know!</strong>  There are no people to list <em>yet.</em>  ¯\_(ツ)_/¯ <br>
  However, when you eventually do have something to show your items will be listed here. <br>
  <strong>Tip: Click on "Edit details" to add a teacher and learners</strong>
</div>
