<div class="mt-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to school_registration_klasses_path(@registration_klass.school) do %>
          <%= fa_icon "arrow-left", text: "Registration and Subject Classes Index" %>
        <% end %>
      </li>
      <li class="breadcrumb-item active">
        <a href="#"><%= @registration_klass.course_name %> - <%= @registration_klass.year.strftime("%Y") %></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Teacher's Guide</li>
    </ol>
  </nav>
</div>
<div class="jumbotron mt-1">
  <div class="row">
    <div class="col-12 col-xl-10 offset-xl-1">

      <h1>What is possible?</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2">
    <h2>Test</h2>
  </div>
</div>
