<div class="jumbotron">
  <h2>Our Class Achievements TODO</h2>
  <p class="h5"><span class="badge badge-dark"><%= @registration_klass.name %></span></p>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <%#= link_to new_registration_klass_achievement_path(@registration_klass),
        class: "btn btn-primary" do %>
      <%#= fa_icon("plus", text: "Add an Achievement") %>
    <%# end %>

</div>

<!-- <div class="d-flex flex-wrap" id="list-achievements">
    <%# if @registration_klass.achievements.any? %>
      <%#= render "achievements/achievements", achievable: @registration_klass %>
    <#% else %>
      <li class="list-group-item list-group-item-info no-goals-to-list">
        No Achievements Recorded yet
      </li>
    <%# end %>
</div> -->
