<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Editing class details</h1>

      <%= render 'edit_form', registration_klass: @registration_klass %>

      <%#= link_to 'Back', registration_klasses_path %>

    </div>
  </div>
</div>
