<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <li>
      <a class="app-menu__item active" id="class-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="class-home" aria-selected="true">
        <%= fa_icon("chalkboard-teacher", class: "app-menu__icon mr-2") %>
        <span class="app-menu__label">
          Add a new class
        </span>
      </a>
    </li>
  </ul>
</aside>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <h1>New Class, School Faculty or Administration </h1>
    <%= render 'new_form', registration_klass: @registration_klass %>
 <!-- TODO  add description/notes of the type of class to form -->
  </div>
  </div>

</div>
