<div class="row">
  <div class="col-md-10 offset-md-1">
    <h1>New Class, School Faculty or Administration </h1>
    <%= render 'new_form', registration_klass: @registration_klass %>
 <!-- TODO  add description/notes of the type of class to form -->
  </div>
  </div>

</div>
