<div class="col-sm-6" id="address-<%= address.id %>" >
  <div class="card">
    <div class="card-header">Example Address</div>
    <div class="card-body">
      <h4 class="card-title">Home Address</h4>

      <p class="card-text">
          21 Downtown Drive, Beach Drive, Holdiday Town, Cape Town, 8000, Western Cape 
      </p>
    </div>
  </div>
</div>
