<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2"><%= fa_icon("graduation-cap", text: "Registration Classes") %></h1>
    <p>Contributing to a promising future</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="#"><%= fa_icon("home lg", text: "School Home") %></a></li>
    <li class="breadcrumb-item active" aria-current="page">Registration Classes</li>
  </ul>
</div>
<div class="jumbotron mt-1">
  <div class="row">
    <div class="col-xl-10 offset-xl-1">
      <h1>
        Faculty, Administration, and Subject Classes
      </h1>
      <hr>
      <%= link_to school_registration_klasses_path(@school), class: "btn btn-lg btn-primary btn-block-xs" do %>
      <%= fa_icon("list-alt", text: "Manage Classes") %>
      <% end %>
    </div>
  </div>
</div> <!-- .jumbotron -->

<div class="card" style="width: 18rem;">
  <img class="card-img-top" data-src="holder.js/100px130?auto=yes&theme=sky&text=Image" />
  <div class="card-body">
    <h5 class="card-title">Class statistics</h5>
    <p class="card-text">Show statistics on the types of classes and grades in school</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
