<div class="mt-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">School home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">School Achievements</li>
    </ol>
  </nav>
</div>
<div class="jumbotron mt-1">
  <div class="col-xl-10 offset-xl-1">
    <h1 class="text-white"><%= fa_icon("trophy", text: "Celebrating our achievements") %>&nbsp;
      <small><span class="badge badge-info" id="sizeAchievements1"></span></small>
    </h1>
    <p class="lead">Celebrate our achievements together as a school...</p>
    <hr>
    <%= link_to new_school_achievement_path(@school), remote: true, class: "btn btn-lg btn-primary btn-block-xs" do %>
      <%= fa_icon("plus", text: "Add an Achievement") %>
    <% end %>
  </div>
</div>

<div class="row d-flex flex-wrap" id="list-achievements">
  <% if @school.achievements.any? %>
    <%= render "achievements/achievements", achievable: @school %>
  <% else %>
    <li class="list-group-item list-group-item-info no-achievements-to-list">
      Nothing to list. Complete the form below
    </li>
  <% end %>
</div> <!-- .card-deck -->
