<div class="jumbotron">
  <h1> Our Goals and Action Plans</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <%= link_to new_school_goal_path(@school), remote: true, class: "btn btn-primary btn-block-xs" do %>
      <%= fa_icon("plus", text: "Add a Goal") %>
    <% end %>
</div>

<div class="d-flex flex-wrap" id="list-goals">
    <% if @school.goals.any? %>
      <%= render "goals/goals", goalable: @school %>
    <% else %>
      <li class="list-group-item list-group-item-info no-goals-to-list">
        Nothing to list
      </li>
    <% end %>
</div>
