  <div class="row mt-3">
    <div class="col-md-5 offset-md-3 jumbotron-bg-aztec p-3">
      <h1>New School Account</h1>
      <%= render 'form', school: @school, class: "btn btn-primary" %>
    </div>
  </div>
