<div class="card-body">
  <p class="card-text">
    Step 1: Brainstorm a <span class="badge badge-info">To Do</span> list. Write down
    everything you must do in order to achieve this goal. Don't worry about dates or
    responsibilities at this stage. Write as many tasks as you can.
  </p>
  <p class="card-text">
    Step 2: Now turn this <span class="badge badge-info">To Do</span> list into an
    <span class="badge badge-success">Action Plan</span>. Action Plans have <em>due dates</em> with one
    or more <em>people</em> who are responsible for it.<br>
    <%= fa_icon("arrows") %>&nbsp;Prioritise the list. Drag the items on the list in the order you must do them,
    according to: (a) their importance and (b) the time needed to complete the task.
  </p>
</div>
