<div class="modal fade" id="how-to-action-plan-dialog" tabindex="-1" role="dialog" aria-labelledby="howToActionPlanModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Creating Tasks and Action Plans</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>
            A Task/ToDo list and Action Plan accompanies each of your Goals.
          </strong>
        </p>
        <p>
          <strong>
            Here is how to turn each unmanageable "Task" list into a manageable action plan:
          </strong>
        </p>
        <p>
          <strong>Step 1: Brainstorm a Task list.</strong>
          Write down every single action you need to do in order to complete
          your goal. Remember: no action is too small to write down.&nbsp;
          Cross out all the unnecessary items.&nbsp;
          <em>Ask yourself:</em> “Does this action clearly contribute to my goal?” If it doesn’t,
          cross it out. It’s that simple!
        </p>
        <p>
          <strong>Step 2: Prioritise your list.</strong> Drag the items
            up or down on your list in the order you must do them, according to:
          <ul class="lower-alpha">
            <li>their importance</li>
            <li>the time needed to complete the task.</li>
          </ul>
        </p>
        <p>
          <strong>Step 3: Assign responsibility.</strong>
          Each action has to be someone’s responsibility. Things won’t get done if they are
          just something that someone must do.
        </p>
        <p>
          <strong>Step 4: Assign a deadline.</strong>
          Actions must have a deadline. Write down exactly when each task will be done—
          then stick to that deadline, no compromises!
        </p>
      </div> <!-- /.modal-body -->
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
