var el = $('.new_action_plan');

<% if @action_plan.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @action_plan.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$('#list-action-plans').append('<%= j render @action_plan %>');
$("#action-plan-<%= @action_plan.id %>").hide().fadeIn(1000);
$('#action-plan-dialog').modal('hide');
$('.no-action-plans-to-list').detach();

// Clear form
el.find('input:text,text_area,number,select').val('');
el.find("#action_plan_what").val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
