<div class="card border-primary">
  <div class="card-header">
    School Fee 2018
  </div>
  <div class="card-body">
    <h5 class="card-title">Unique name for Fee</h5>
    <h5 class="card-subtitle text-info">R20,000.00</h5>
  </div>
  <div class="card-footer">
    <button type="button" name="button" class="btn btn-primary">
      <%= fa_icon("expand", text: "Show") %>
    </button>
  </div>
</div>
