<div class="col-sm-3" id="<%= dom_id(fee) %>">
  <div class="card border-primary">
    <div class="card-body">
      <div class="row">
        <div class="col-5">
          <span class="text-info"><%= fee.year.strftime("%Y") %></span>
        </div>
        <div class="col-7">
          <span class="text-white"><%= number_to_currency(fee.amount, precision: 2, unit: "R") %></span>
        </div>
      </div>
    </div>
  </div>
</div>
