<% content_for :title do %>fp Edit School Fee<% end %>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <li>
      <a class="app-menu__item active" id="school-fee-tab" data-toggle="pill" href="#" role="tab" aria-controls="school-fee" aria-selected="true">
        <%= fa_icon("money-bill-alt", class: "app-menu__icon mr-2", type: "regular") %>
        <span class="app-menu__label">
          Editing School Fee
        </span>
      </a>
    </li>
  </ul>
</aside>

<div class="row">
  <div class="col-md-10 offset-xl-1">
    <h1>Editing Fee</h1>
    <h2 class="h4">Create Pay Agreements for each learner&nbsp;
      <small>
        <a data-toggle="collapse" href="#collapseCreatePayAgreements"  aria-expanded="false" aria-controls="collapseExample">
          ...learn how.
        </a>
      </small>
    </h2>
    <div class="collapse" id="collapseCreatePayAgreements">
      <div class="card card-body">
        Create Pay Agreements for every learner by assigning individual learners to
        the specfic fee for this year. You can select all at once or do it one-by-one.
      </div>
    </div>
    <%= render 'edit_form', fee: @fee %>
  </div>
</div>
