<div class="modal fade" id="define-goal-dialog" tabindex="-1" role="dialog" aria-labelledby="defineGoalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Defining your goals ...</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong>
            You can define goals for your personal life, for your education
            and for other activities like sport.
          </strong>
        </p>
        <ol>
          <li>
            The first step in your planning process is to establish the goals you
            want to achieve with any of your school activities.
            This is a vital step because your goals:
            <ul class="lower-alpha">
              <li>map out exactly where you are going and how to get there.</li>
              <li>make you think about what you really want from your life at school or elsewhere.</li>
              <li>force you to make the decisions on how to get what you want.</li>
              <li>give you direction.</li>
              <li>keep your priorities straight.</li>
              <li>tell you if you’re moving in the right direction.</li>
              <li>help you overcome obstacles along the way.</li>
              <li>help you plan and map out the future.</li>
            </ul>
          </li>
          <li>
            While you are setting your goals it is important to understand why people fail in
            achieving their goals (so you can avoid the pitfalls). The three main reasons are:
            <ul class="lower-alpha">
              <li>They don’t set achievable goals. If you don’t set realistic goals in the beginning,
                it is impossible to achieve them, no matter how hard you try.
              </li>
              <li>They don’t establish why they really want to achieve those goals.</li>
              <li>They put together their goals - then put them away and forget about them!</li>
            </ul>
          </li>
          <li>
            You can help avoid these pitfalls by taking these three actions:
            <ul class="lower-alpha">
              <li>
                <strong>Define your goals carefully:</strong>
                The way to define your goals is to <em>ask yourself:</em>
                What would I like to achieve with my subjects or sport or anything really?
                When would I like to achieve these goals? (Both your short-term and your
                long-term goals.)
              </li>
              <li>Turn them into S.M.A.R.T goals (see "SMART Goals").</li>
              <li>
                <strong>Take your time:</strong>
                Take your time over setting your goals because it’s your future
                you’re planning! You need to think about what you’re doing,
                talk to family and friends and revise your goals until they’re just right!
              </li>
            </ul>
          </li>
        </ol>

      </div> <!-- /.modal-body -->
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
