<div class="modal fade" id="set-goal-dialog" tabindex="-1" role="dialog" aria-labelledby="setGoalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">How to write down your SMART goals ...</h4>
      </div>
      <div class="modal-body">
          <p>
            <strong>Step 1:</strong> Write down everything you want to achieve one by one.
            Just get all your goals down as well as possible deadlines.
          </p>
          <p>
            <strong>Step 2:</strong> Go through all your goals one by one and check
            them against SMART definitions. <br>
            <ul>
              <li>
                <strong>S - Specific:</strong> When setting a goal, be specific
                about what you want to accomplish.
              </li>
              <li>
                <strong>M - Measurable:</strong> What metrics or measurements are
                you going to use to determine if you meet the goal?
              </li>

              <li>
                <strong>A - Achievable:</strong> This focuses on how important a goal
                is to you and what you can do to make it attainable(achievable) and may
                require developing new skills and changing attitudes.
              </li>
              <li>
                <strong>R – Relevant:</strong> Relevance refers focusing on something
                  that makes sense within your broader goals.
              </li>
              <li>
                <strong>T - Time-Bound:</strong> Anyone can set goals, but if it
                lacks realistic timing, chances are you’re not going to succeed.
                Providing a target date for completion is important. Ask specific
                questions about the goal deadline and what can be accomplished
                within that time period.
              </li>
            </ul>
          </p>
      </div> <!-- /.modal-body -->
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
