<a class="nav-link active list-group-item" id="goal-home-tab" data-toggle="pill" href="#goal-home" role="tab" aria-controls="goal-home" aria-selected="true"><%= fa_icon("fw star-o") %>&nbsp;Goal Home</a>
<a class="nav-link list-group-item" id="goal-action-plans-tab" data-toggle="pill" href="#goal-action-plans" role="tab" aria-controls="goal-action-plans" aria-selected="false"><%= fa_icon("calendar-check-o fw", text: "Action plans") %>&nbsp;<span id="sizeTotalGoalActionPlans" class="badge badge-info">?</span></a>
<a class="nav-link list-group-item" id="goal-comments-tab" data-toggle="pill" href="#goal-comments" role="tab" aria-controls="goal-comments" aria-selected="false"><%= fa_icon("comment fw", text: "Comments") %>&nbsp;<span id="sizeGoalComments" class="badge badge-info"></span></a>
