<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2">
      <%= fa_icon("star", text: "S.M.A.R.T. Goals") %>
    </h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_generator(@goal) %>
    </li>
    <li class="breadcrumb-item">
      <a href="#"><%= show_name_display(@goal) %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      S.M.A.R.T. Goals
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-xl-9 offset-xl-1">
    <h1>S.M.A.R.T. goals</h1>
    <p class="lead">
      If you want to achieve your goals, you have to make them S.M.A.R.T. goals.
      S.M.A.R.T. goals are attainable goals!
    </p>
    <h2>This is what S.M.A.R.T. means</h2>
    <details>
      <summary>S - Specific</summary>
      <p class="lead">
        Vague goals can’t be reached. A vague goal is: “To make lots of money” or “To
        have a successful school career.” What do you mean by “lots of money” or “success”? The
        clearer you can make your goals, the better. Clear goals make the whole planning
        process a lot easier than vague, fuzzy aims.
      </p>
    </details>

    <details>
      <summary>M - Measurable</summary>
      <p class="lead">
        There is a saying: “What gets measured gets done”. Nothing is truer than when it comes
        to achieving your goals. There has to be some way to measure your progress. Basically,
        all this means is a way of answering the question: “How are we doing?” Most often goals
        are measurable in rands or units.
      </p>
    </details>

    <details>
      <summary>A - Achievable</summary>
      <p class="lead">
        Business goals have to be achievable because if they aren't
        achievable given the resources and the conditions, then those
        responsible for achieving them will be frustrated no matter how
        hard they try and eventually your goals will be ignored.
      </p>
    </details>

    <details>
      <summary>R - Responsibility</summary>
      <p class="lead">
        Goals have to be someone’s responsibility. They’re not likely
        to be achieved if they are just a vague “something” that
        “everyone” must “somehow” do. Unless you are a solo act, they should be the collective
        or the individual responsibility of other people. They can’t all be your responsibility. This
        is a good time to delegate... which means trusting people to do the job!
      </p>
    </details>

    <details>
      <summary>T - Time-based</summary>
      <p class="lead">
        Goals have to have a deadline. Not only must you know what you have to do to achieve
        each goal, you must know when you are will do it. However, keep in mind that your
        deadlines must be flexible. This means they must be able to shrink and expand
        according to how things are going. But beware of deadlines so flexible that they
        disappear altogether!
      </p>
    </details>
  </div>
</div>
