  <div class="card border-info">
    <div class="card-body">
      <h4 class="card-title" id="goal-comments-section">
            <%= fa_icon("comments", text: "Comments") %>&nbsp;
            <span class="badge badge-info">
              <span id="sizeComments"></span>
            </span>
      </h4>
      <p class="card-text text-muted"><em>Newest on top</em></p>
      <%= render "comments/form", commentable: @goal %>
    </div>
      <% if @goal.comments.any? %>
      <ul id="list-comments" class="list-group list-group-flush">
        <%= render "comments/comments", commentable: @goal %>
      </ul>
      <% else %>
      <ul class="list-group list-group-flush no-comments-to-list">
        <li class="list-group-item list-group-item-info">
          Nobody has commented yet.
        </li>
      </ul>
      <% end %>
  </div>
