<div class="mt-1">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item">
        <%= link_generator(@goal) %>
      </li>
      <li class="breadcrumb-item">
        <a href="#"><%= show_name_display(@goal) %></a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Defining your Goals</li>
    </ol>
  </nav>
</div>
<div class="jumbotron mt-1">
  <div class="row">
    <div class="col-xl-9 offset-xl-1">
      <h1>Defining your Goals</h1>
      <details>
        <summary>Step 1: Define your goals carefully</summary>
        <ul class="list-unstyled">
          <li>
            The way to define your goals is to ask yourself:
            <ol>
              <li>What would I like to achieve with my life at school, on the sports field etc.?</li>
              <li>When would I like to achieve these goals? (Both your short-term and your long-term goals.)</li>
            </ol>
        </li>
      </ul>
      </details>

      <details>
        <summary>Step 2: Turn them into S.M.A.R.T goals</summary>
        <ul class="list-unstyled">
          <li>
            Take your time over setting your goals because it’s your future you’re planning!
          </li>
          <li>
            You need to think about what you’re doing, talk to family and friends
            and revise your goals until they’re just right!
          </li>
        </ul>
      </details>

      <details>
        <summary>Step 3: Take your time</summary>
        <ul class="list-unstyled">
          <li>
            Each action has to be someone’s responsibility.
          </li>
          <li>Things won’t get done if they are just something that someone must do.</li>
        </ul>
      </details>
    </div>
  </div>
</div>
