<div class="app-title" aria-label="breadcrumb">
  <div>
    <h1 class="h2">
      <%= fa_icon("star", text: "Defining your Goals") %>
    </h1>
    <p>Monitor, Evaluate and Improve</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item">
      <%= link_generator(@goal) %>
    </li>
    <li class="breadcrumb-item">
      <a href="#"><%= show_name_display(@goal) %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Defining your Goals
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-xl-9 offset-xl-1">
    <h1>Defining your Goals</h1>
    <details>
      <summary>Step 1: Define your goals carefully</summary>
      <ul class="list-unstyled">
        <li class="lead">
          The way to define your goals is to ask yourself:
          <ol>
            <li>What would I like to achieve with my life at school, on the sports field etc.?</li>
            <li>When would I like to achieve these goals? (Both your short-term and your long-term goals.)</li>
          </ol>
      </li>
    </ul>
    </details>

    <details>
      <summary>Step 2: Turn them into S.M.A.R.T goals</summary>
      <p class="lead">If you want to achieve your goals, you have to make them S.M.A.R.T. goals.
        There are no two ways about it, S.M.A.R.T. goals are attainable goals!
      </p>
      <p class="lead">See the next section on S.M.A.R.T. goals.</p>
    </details>

    <details>
      <summary>Step 3: Take your time</summary>
      <ul class="list-unstyled">
        <li class="lead">
          Take your time over setting your goals because it’s your future you’re planning!
        </li>
        <li class="lead">
          You need to think about what you’re doing, talk to family and friends
          and revise your goals until they’re just right!
        </li>
      </ul>
    </details>
  </div>
</div>
