<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <li>
      <a class="app-menu__item active" id="edit-goal-tab" data-toggle="pill" href="#" role="tab" aria-controls="edit-goal" aria-selected="true">
        <%= fa_icon("fw edit", class: "app-menu__icon mr-2") %>
        <span class="app-menu__label">
          Edit Goal
        </span>
      </a>
    </li>
  </ul>
</aside>
<div class="row">
  <div class="col-md-10 offset-xl-1">
    <h1>Editing your goal</h1>
    <%= render 'edit_form', goal: @goal %>
  </div>
</div>
