<div class="container d-flex justify-content-center pt-3">
  <div class="card border-primary mb-3" style="width: 50rem;">
    <div class="card-body text-white">
      <h4 class="card-title"><%= fa_icon("tasks", text: "Editing your goal") %></h4>
      <%= render 'edit_form', goal: @goal %>
    </div>
  </div>
</div>
