
// on extra small devises diplay buttons full width
@include media-breakpoint-down(xs) {
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}

// make all images responsive by default
img {
  @extend .img-fluid;
  margin: 0 auto;
}
