<div class="col-sm-4" id="achievement-placeholder">
  <div  class="card text-white bg-success mb-1 mr-1">
    <div class="card-header">Example Achievement</div>
    <div class="card-body">
      <h4 class="card-title">My first math "A" ever!!</h4>
      <h6 class="cad-subtitle">5 March 2018</h6>
      <p class="card-text">
        Yay! I scored my fist A in Mathematics.  I'm so chuffed!  I followed the advice of my friend
        and voila!.  Thanks Jamie.
      </p>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-6">
            <button type="button" name="button"class="btn btn-danger"><%= fa_icon("trash", text: "Delete") %></button>
        </div>
        <div class="col-sm-6">
          <button type="button" name="button"class="btn btn-primary btn-block"><%= fa_icon("edit", text: "Edit") %></button>
        </div>
      </div>
    </div>
  </div>
</div>
