<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <h1>Editing Achievement</h1>
      <%= render 'edit_form', achievement: @achievement %>
    </div>
  </div>

</div>
