<div class="alert alert-info" id="nothing_to_list" role="alert">
  <strong>Oh what do you know!</strong>  We couldn't find anything to list <em>yet.</em>  ¯\_(ツ)_/¯ <br>
  However, when you eventually do have something to show your items will be listed here.
</div>
