<div class="app-sidebar__user">
  <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
  <div>
    <p class="app-sidebar__user-name"><%= current_user.name %></p>
    <p class="app-sidebar__user-designation">
      <% unless current_user.roles.empty? %>
        <%= user_type(current_user) %>
      <% else %>
      ¯\_(ツ)_/¯ Who am I?
      <% end %>
    </p>
  </div>
</div>
