var el = $('.new_user_registration');

<% if @user_registration.errors.any? %>

  // Create a list of errors
  var errors = $('<ul class="list-group" />');

  <% @user_registration.errors.full_messages.each do |error| %>
    errors.append('<li class="list-group-item list-group-item-danger"><%= j error %></li>');
  <% end %>

  // Display errors on form
  el.find('.errors').html(errors);

<% else %>

$('#list-user-registrations').prepend('<%= j render @user_registration %>');
$("#<%= dom_id(@user_registration) %>").hide().fadeIn(1000);
$('#user-registration-dialog').modal('hide');
$('.user_registration_placeholder').detach();
<% if @user_registration.teacher? %>
  $('#user-type').html("<span class='badge badge-info'>Teacher</span>");
<% elsif @user_registration.substitute_teacher? %>
    $('#user-type').html("<span class='badge badge-info'>Substitute teacher</span>");
<% else %>
  $('#user-type').html("<span class='badge badge-info'>Learner</span>");
<% end %>

// Clear form
el.find('input:text,text_area').val('');
el.find('.errors').empty();

<% end %>
// Source: www.alfajango.com/blog/rails-3-remote-links-and-forms-data-type-with-jquery/
