<h1>Editing User Registration</h1>

<%= render 'edit_form', user_registration: @user_registration %>

<%= link_to 'Show', [@user_registration.registration_klass, @user_registration] %>
<%= link_to 'Back', registration_klass_user_registrations_path(@user_registration.registration_klass) %>
