<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <%= render "sidebar_user" %>
  <ul class="app-menu nav flex-column nav-pills">
    <li>
      <a class="app-menu__item active" id="class-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="class-home" aria-selected="true">
        <%= fa_icon("graduation-cap fw", class: "app-menu__icon mr-2") %>
        <span class="app-menu__label">
          Edit registration
        </span>
      </a>
    </li>
  </ul>
</aside>
<div class="row mt-2">
  <div class="col-lg-8">
    <h1>Editing Individual Registration</h1>
    <%= render 'edit_form', user_registration: @user_registration %>
  </div>
</div>
