<div  class="container">
  <h1>New Assessment Task</h1>
  <div class="row">
    <div class="col-sm-6">
      <%= render 'form', assessment_task: @assessment_task %>

      <%= link_to 'Back', assessment_tasks_path %>
    </div>
  </div>
</div>
