<%# add navigation links to this file %>
<%= link_to "freeperiod", root_path, class: "app-header__logo" %>
<!-- <a class="app-header__logo" href="index.html">freeperiod</a> -->
<!-- Sidebar toggle button-->
<a class="app-sidebar__toggle"  href="#" data-toggle="sidebar" aria-label="Hide Sidebar">
  <%= fa_icon("outdent lg", id: "outdentIcon") %>
</a>
